*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.container{
  position: relative;
  min-height: 100vh;
  background: #bbb;
}

/* index.html */

.logo{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("./media/brick.jpg");
  background-size: contain;
}

.logo img{
  max-width: 400px;
  max-height: 200px;
  width: auto;
  height: auto;
}

/* folderContainer is inside container. It holds all of the thumbnail images. */

.folderContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 10px;
}

.folderContainer .window {
  position: relative;
  width: 200px;
  height: 175px;
}

.folderContainer .window-body {
  display: block;
  height: 80%;
}

.folderContainer .preview-image {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.folderContainer .window-body:hover .preview-image{
  transform: scale(1.05);
}

.folderContainer .window-body:hover .flair{
  visibility: visible;
}

/* flairs are over folderContainer images */

.flair {
  visibility: hidden;
  overflow: visible;
  position: absolute;
  z-index: 100;
  bottom: -10px;
  right: -20px;
  height: 100%;
  width: 120%;
}

#map {
  height: 575px;
  width: 100%;
}

#reset-button {
  width: 100%;
}

.map-window-body {
  display: block; 
  max-width: 100%; 
  max-height: 100%;
}

/* Special Homepage changes */

.map-row {
  display: table;
}

.map-row .homepage-img {
  display: table-cell;
  position: relative;
  top: 50px;
  width: 20%;
  max-height: 613px;
}

.map-row .homepage-img img {
  max-width: 100%;
  max-height: 100%;
}

.map-row .window {
  display: table-cell;
  vertical-align: top;
}

#logo-title-bar {
  justify-content: left;
}

#logo-title-bar-text {
  margin-right: 6px;
}

.title-bar-controls button[aria-label="refresh"] {
  background-image: url("./media/refresh.png");
  background-repeat: no-repeat;
  background-position: top 1px left 3px;
  justify-content: left;
}

/* Special Artist Page Changes */

#favorite-window {
  display: none;
}

#favorite-window .window-body {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#favorite-window img {
  width: 1000px;
  height: auto;
  transform: none;
}

#favorite-window p {
  font-size: 22px;
  padding-top: 20px;
  text-align: center;
}

#favorite-window .flair {
  position: absolute;
  width: 1400px;
}

/* Special piece page changes*/
#piece-container {
  display: flex;
}

#photo-window {
  height: 100%;
}

#photo-window-body img {
  max-width: 50vw;
  max-height: 80vh;
}

#piece-map-window-body {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

#piece-map {
  width: 30vw;
  height: 30vw;
}

#metadata-list {
  padding-left: 20px;
}

/* Mobile changes */
@media screen and (max-width: 600px) {
  /* changes to hide homepage map images when small */
  .map-row {
    display: block;
  }

  .map-row .homepage-img {
    display: none;
  }

  #map-window {
    display: block;
  }

  /* chagnes to make map below piece on individual page */

  #piece-container {
    display: block;
  }

  #photo-window-body img {
    max-width: 100%;
    max-height: 100%;
  }

  #piece-map {
    width: 100%;
    height: 50vw;
  }

}

/* Google Maps CSS changes */
  /* move buttons to left */
.gm-bundled-control {
  left: 0 !important;
}
  /* fill buttons with white */
.gm-bundled-control > .gmnoprint > div  {
  width: 75px !important;
}